.input-area {
  height: 58px;

  align-self: stretch;
  display: flex;

  box-sizing: border-box;

  padding: 5px;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 -2px 4px rgba(255, 255, 255, 0..05);
}

.isSafariOniOS {
  /* Safari on iOS obscures the bottom 80px or so of the app */
  margin-bottom: 77px;
}

textarea {
  padding: 10px;
  min-width: 100px;
  margin-right: 5px;
  border-radius: 10px;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;

  background-color: white;
  color: #222;
}

textarea:focus,
textarea:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}