.menu {
  display: flex;

  margin: 10px;
}

.menu .back-button-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
}

.menu .back-button-container a svg {
  position: relative;
  top: 1px;
  height: 28px;
  width: 28px;
}
