.app {
  height: 100vh; /* just an initial value, this gets controlled via JS to make sure it's accurate on mobile*/
  width: 100vw;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* ff 3.6+ */
  background:-moz-linear-gradient(119deg, rgba(175, 94, 218, 0.44) 0%, rgba(238, 215, 247, 0.2) 100%); 
  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(119deg, rgba(175, 94, 218, 0.44) 0%, rgba(238, 215, 247, 0.2) 100%);
  /* opera 11.10+ */
  background:-o-linear-gradient(119deg, rgba(175, 94, 218, 0.44) 0%, rgba(238, 215, 247, 0.2) 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C8FF', endColorstr='#00FFFF', GradientType=0 );
  /* ie 10+ */
  background:-ms-linear-gradient(119deg, rgba(175, 94, 218, 0.44) 0%, rgba(238, 215, 247, 0.2) 100%);
  /* global 94%+ browsers support */
  background:linear-gradient(119deg, rgba(175, 94, 218, 0.44) 0%, rgba(238, 215, 247, 0.2) 100%);
}

button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(245, 242, 247);
  background-color: rgba(72, 65, 75, 0.8);
  padding: 0 20px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

.code {
  font-family: Consolas,"courier new";
  background-color: rgba(128, 128, 128, 0.2);
  padding: 2px;
  font-size: 105%;
  margin: 0;
  margin-left: 20px;
}

.list-item {
  margin-left: 20px;
}