:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  /* ff 3.6+ */
  background:-moz-linear-gradient(119deg, rgba(0, 255, 255, 0.44) 0%, rgba(0, 200, 255, 0.2) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(119deg, rgba(0, 255, 255, 0.44) 0%, rgba(0, 200, 255, 0.2) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(119deg, rgba(0, 255, 255, 0.44) 0%, rgba(0, 200, 255, 0.2) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C8FF', endColorstr='#00FFFF', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(119deg, rgba(0, 255, 255, 0.44) 0%, rgba(0, 200, 255, 0.2) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(119deg, rgba(0, 255, 255, 0.44) 0%, rgba(0, 200, 255, 0.2) 100%);
}

.feed-container {
  
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.feed {
  margin: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.from-user {
  align-self: flex-end;
  background-color: rgba(0, 205, 205, 0.8);
  font-weight: 500;
  text-shadow: 0 0 10px rgb(0, 50, 50, 1);
  
  margin-left: 20px;
}

.from-api {
  align-self: flex-start;
  background-color: rgba(0, 150, 2505, 0.8);
  text-shadow: 0 0 10px rgb(0, 50, 50, 1);
  font-weight: 500;

  margin-right: 20px;
}

.message-area {
  width: 100%;

  display: flex;

  
  padding: 10px;
  
}

.input-area {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
  
  display: flex;

  box-sizing: border-box;
  height: 52px;
  
  padding: 5px 20px;
}

.input {
  padding: 0 20px;
  min-width: 100px;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;

  background-color: white;
  color: #222;
}

.input:focus,
.input:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  background-color: rgba(0, 255, 255, 0.3);
  padding: 0 20px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* credit to https://loading.io/css/ */
.lds-ripple {
  display: inline-block;
  position: absolute;
  bottom: -4px;
  right: 86px;

  z-index: 10;
  
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgba(0, 200, 255, 0.6);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    opacity: 0;
  }
}

.options-area {
  display: flex;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 20px;
}

.options-area button {
  font-size: 14px;
  padding: 2px 10px;

  background-color: rgba(200, 255, 255, 0.3)
}

.decorative-image > svg {
  position: absolute;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -72px;
  z-index: -1;
  height: 300px;
  width: 300px;
  transform: scaleX(-1) rotate(90deg);
}